@page "/basement"
@using BlazorApp.Data
@inject BasementService BasementService
@inject HttpClient HttpClient

<PageTitle>Basement</PageTitle>

<h1>Погреб статистика по всем сортам</h1>

<label for="name">Сорт</label>

<InputSelect @bind-Value="varietyStatistic" >
        <option value="Все сорта">Все сорта</option>
        <option value="Гала">Гала</option>
        <option value="Голден">Голден</option>
</InputSelect>


    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                        <td>Количество яблок в погребе:</td>
                        <td>@result?.AppleAmount</td>
                </tr>
                <tr>
                        <td>Общее количество корзин в погребе:</td>
                        <td>@result?.BucketAmount</td>
                </tr>
                <tr>
                        <td>Общая масса всех яблок в погребе:</td>
                        <td>@result?.Weight</td>
                </tr>
                <tr>
                        <td>Средняя масса одного яблока:</td>
                        <td>@result?.AverageWeight</td>
                </tr>
        </tbody>
    </table>

<h1/>

<h1>Добавить новую корзину:</h1>

<label for="name">Количество яблок:</label>

<InputNumber @bind-Value="amountNewBucket" />

<p></p>

<label for="name">Сорт</label>

<InputSelect @bind-Value="varietyNewBucket" >
        <option value="Гала">Гала</option>
        <option value="Голден">Голден</option>
</InputSelect>

<p></p>

<button class="btn btn-primary" @onclick="AddBucket">Add bucket</button>

@code {
    private Result result;

    private string varietyStatistic;

    private int amountNewBucket;
    private string varietyNewBucket;

    protected override async Task OnInitializedAsync()
    {
        UpdateResult();
    }

    private void UpdateResult(string variety = null)
    {
        result = BasementService.GetResult(variety);
    }

    private async Task AddBucket()
    {
        var weightModel = await HttpClient.GetFromJsonAsync<WeightModel>("https://mock.justanother.app/weight");

        BasementService.Add(new Bucket
        {
                Weight = weightModel.Weight,
                Amount = amountNewBucket,
                Variety = varietyNewBucket,
        });

        UpdateResult();
    }

    class WeightModel
    {
        public double Weight { get; set; }
    }
}
